<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth client</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="../src/css/bootstrap-4.5.2.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {{if .SessionState}}
                <a href="/logout" class="btn btn-secondary">Logout</a>
                {{else}}
                <a href="/login" class="btn btn-secondary">Login</a>
                {{end}}
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center mb-4">
        {{if .SessionState}}
        <img class="w-25" src="../src/img/lock-open.svg" alt="Open Lock Icon">
        {{else}}
        <img class="w-25" src="../src/img/lock-closed.svg" alt="Closed Lock Icon">
        {{end}}
    </div>

    {{if .SessionState}}
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body overflow-auto">
                    <h5 class="card-title">Session State</h5>
                    <p class="card-text">{{.SessionState}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body overflow-auto">
                    <h5 class="card-title">Auth code</h5>
                    <p class="card-text">{{.AuthCode}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body overflow-auto">
                    <h5 class="card-title">AccessToken</h5>
                    <p class="card-text">{{.AccessToken}}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>

<!-- Add Bootstrap JS and jQuery scripts -->
<script src="../src/js/jquery-3.5.1.slim.min.js"></script>
<script src="../src/js/popper-2.9.1.min.js"></script>
<script src="../src/js/bootstrap-4.5.2.min.js"></script>
</body>
</html>
