<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth client</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="../src/css/bootstrap-4.5.2.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {{if .SessionState}}
                <a href="/logout" class="btn btn-secondary">Logout</a>
                {{else}}
                <a href="/login" class="btn btn-secondary">Login</a>
                {{end}}
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    {{if .SessionState}}
    <img class="p-3" style="width:18%!important" src="../src/img/lock-open.svg" alt="Open Lock Icon">
    {{else}}
    <img class="p-3" style="width:18%!important" src="../src/img/lock-closed.svg" alt="Closed Lock Icon">
    {{end}}

    <h1 class="display-4">Welcome to the Auth App</h1>
    <p class="lead">Secure your resources with our authentication solution.</p>

    {{if .SessionState}}
    <button id="get-protected-resource" class="btn btn-primary btn-lg mt-4">Get protected resource</button>
    {{end}}
</div>

<div class="container mt-4">
    {{if .SessionState}}
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    Token Details
                </div>
                {{if .Token.AccessToken}}
                <div class="card-body overflow-auto">
                    {{range $field, $value := .Token}}
                    <h6 class="card-subtitle mb-2 text-muted">{{$field}}</h6>
                    <p class="card-text">{{$value}}</p>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    Protected resource
                </div>
                <div id="protected-resource-details" class="card-body">
                    <!-- Services will be displayed here -->
                </div>
                <div id="error-display">
                    <!-- Errors will be displayed here -->
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>

<!-- Add Bootstrap JS and jQuery scripts -->
<script src="../src/js/jquery-3.5.1.slim.min.js"></script>
<script src="../src/js/popper-2.9.1.min.js"></script>
<script src="../src/js/bootstrap-4.5.2.min.js"></script>
<script src="../src/js/main.js"></script>
</body>
</html>
